* {
  margin: 0;
  padding: 0;
}

body {
  background: #212121;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  max-width: 1200px;
}

.titulo {
  width: 100%;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
  background: blue;
}

.flex-item {
  width: 150px;
  height: 150px;
  background: red;
  border-radius: 8px;
}
