body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #6abae2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
}

.principal {
  background: white;
  width: 950px;
  height: 700px;
  padding: 20px 30px;
  border-radius: 15px;

  -webkit-box-shadow: -8px 9px 9px 5px rgba(0, 0, 0, 0.62);
  box-shadow: -8px 9px 9px 5px rgba(0, 0, 0, 0.35);
}

.principal h1 {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.texto h2 {
  font-size: 2.18rem;
  padding-bottom: 5px;
}
.texto p {
  font-size: 20px;
  padding-right: 80px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 100px;
  height: 100px;
  background: #898989;
  color: #2d2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
